@keyframes fallAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.ideaCard {
  border-radius: 20px;
  background: #9c9c9c;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 10px;
  animation: fallAnimation 0.5s ease-out forwards;
  width: 80%; /* Default width */
  align-self: center; /* Center the card in the container */
}

.cardHeader,
.cardBody {
  padding: 16px;
  width: 100%; /* Make width 100% instead of 50% for better mobile responsiveness */
  background-color: #c6c6c6c0;
  border-radius: 30px;
  margin: 20px;
}

.cardFooter {
  display: flex;
  gap: 10px;
  padding: 10px;
  margin: 10px;
  align-items: center;
  justify-content: center; /* Center the buttons */
}

.userName {
  font-weight: bold;
  display: block;
}

.ideaTitle {
  font-size: 1.5rem;
}

.ideaDescription {
  color: #302f2f;
}

.icon-button {
  background-color: #f0f0f0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s;
  margin: 6px;
}

.icon-button:hover {
  background-color: #e0e0e0;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Media query for laptops and desktops */
@media (min-width: 1024px) {
  .ideaCard {
    width: 50%; /* Larger screens can accommodate a wider card */
  }

  .cardHeader,
  .cardBody {
    margin: 20px auto; /* Center the content blocks */
    width: 90%; /* Adjust width for larger screens */
  }
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .ideaCard {
    width: 95%; /* Almost full width on small screens */
    margin: 10px auto; /* Increase margin top and bottom */
  }

  .cardHeader,
  .cardBody {
    margin: 10px; /* Smaller margin on small screens */
  }

  .ideaTitle {
    font-size: 1.25rem; /* Smaller font size on small screens */
  }

  .cardFooter {
    flex-direction: column; /* Stack buttons on small screens */
    gap: 5px;
  }

  .icon-button {
    width: 35px; /* Smaller buttons on small screens */
    height: 35px;
  }
}
