@keyframes fallAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.ideaCard {
  border-radius: 20px;
  background: #798aae63;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin:15px;
  animation: fallAnimation 0.5s ease-out forwards;
  width: 100%; /* Default width */
  align-self: center; /* Center the card in the container */
  height: 700px;
  width: 600px;
}

.cardHeader,
.cardBody {
  padding: 16px;
  width: 100%; /* Make width 100% instead of 50% for better mobile responsiveness */
  background-color:  transparent;
  border-radius: 30px;
  margin: 20px;
}
h3,h2,p{
  background-color:  transparent;
  
}

.cardFooter {
  background: transparent;
  font-size: 25px;
  display: flex;
  height: 80px;
  gap: 30px;
  align-items: center;
  justify-content: center; /* Center the buttons */
  color: rgb(73, 148, 107);
}

.userName {
  font-weight: bold;
  display: block;
}

.ideaTitle {
  font-size: 1.5rem;
  background-color:  transparent;
  color: #1f366b;
}

.ideaDescription {
  color: #1f366b;
  background-color:  transparent;
  /* color: #f0f0f0; */
  /* background: #798aae47; */

}

.icon-button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s;
  margin: 6px;
  /* background-color:rgba(255, 0, 0, 0.116) !important; */
}

.photo{
  width: 450px;
  height: 300px;
  margin-left:70px;
  margin-top: 20px;
  border-radius: 10px;
}

/* .icon-button:hover {
  background-color: #2a9b1c;
}
.likeButton  svg {
  color: green; 
}
.dislikeButton svg {
  color: red; 
} */
/* 
.greenButton {
  background-color: green;
  color: white;
}

.redButton {
  background-color: red;
  color: white;
} */

/* .likeButton,
.dislikeButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 30px;
  padding: 5px;
}

.likeButton.active {
  color: green; 
}

.dislikeButton.active {
  color: red; 
} */


