@keyframes fallAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .ideaCard {
  border-radius: 20px;
  background: #798aae63;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin:15px;
  animation: fallAnimation 0.5s ease-out forwards;
  width: 100%; 
  align-self: center; 
  height: 700px;
  width: 600px;
}

.cardHeader,
.cardBody {
  padding: 16px;
  width: 100%;
  background-color:  transparent;
  border-radius: 30px;
  margin: 20px;
}
h3,h2,p{
  background-color:  transparent;
  margin: 20px; 
}

.cardFooter {
  background: transparent;
  font-size: 25px;
  display: flex;
  height: 80px;
  gap: 30px;
  align-items: center;
  justify-content: center;
  color: rgb(73, 148, 107);
}

.userName {
  font-weight: bold;
  display: block;
}

.ideaTitle {
  font-size: 1.5rem;
  background-color:  transparent;
  color: #1f366b;
}

.ideaDescription {
  color: #1f366b;
  background-color:  transparent;
}

.icon-button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s;
  margin: 6px;
 

.photo{
  width: 450px;
  height: 300px;
  margin-left:70px;
  margin-top: 20px;
  border-radius: 10px;
} */

/* .icon-button:hover {
  background-color: #2a9b1c;
}
.likeButton  svg {
  color: green; 
}
.dislikeButton svg {
  color: red; 
} */
/* 
.greenButton {
  background-color: green;
  color: white;
}

.redButton {
  background-color: red;
  color: white;
} */

/* .likeButton,
.dislikeButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 30px;
  padding: 5px;
}

.likeButton.active {
  color: green; 
}

.dislikeButton.active {
  color: red; 
} */

.ideaCard {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px auto;
  width: 700px; /* Adjust width as per your layout */
  animation: fallAnimation 0.5s ease-out forwards;
  margin-left: 26%;
}

.ideaTitle {
  color: #333;
  margin: 10px 0;
  font-size: 24px;
}

.ideaDescription {
  color: #666;
  margin: 10px 0;
  font-size: 16px;
}

.photo {
  border-radius: 20px;
  width: 100%;
  max-width: 450px; /* Adjust the max-width as needed */
  margin-bottom: 20px;
}

.cardFooter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.cardFooter {
  background: transparent;
  font-size: 25px;
  display: flex;
  height: 80px;
  gap: 30px;
  align-items: center;
  justify-content: center;
  color: rgb(73, 148, 107);
}
