@keyframes fallAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.peopleList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.personCard {
  animation: fallAnimation 0.5s ease-out forwards;
  background: #798aae63;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 700px;
  width: 600px;
}

.personImage  {
  margin-top: 20px;
  background: transparent;
}
.personImage img {
  background: transparent;
  border-radius: 50%; /* Делает изображение круглым */
  /* Поднимает изображение выше верхней границы карточки */
  width: 300px; /* Размер изображения */
  height: 300px;
  object-fit: cover;
  border: 1px solid white; /* Белая граница вокруг изображения */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.personDetails {
  background: transparent;
  padding: 20px;
  text-align: center; /* Выравнивание текста по центру */
}

.personDetails h3 {
  background: transparent;
  margin: 10px 0;
  color: #0e1e46;
  font-size: 3em; /* Размер шрифта */
}

.personDetails p {
  background: transparent;
  color: #0e1e46;
  font-size: 1.5em;
}

.cardFooter {
  background: transparent;
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center; /* Center the buttons */
  padding-bottom: 40px;
}

/* .icon-button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100px;
  height: 100px;
  transition: background-color 0.3s;
  margin: 6px;
} */

.icon-button:hover {
  background-color: #2a9b1c;
}
.likeButton  svg {
  background-color: rgb(73, 148, 107);
  color: white; 
}
.dislikeButton svg {
  background-color:rgb(178, 78, 78);
  color: white; 
}

