
ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  color: white; /* Adjust as per your theme */
}

li a {
  text-decoration: none;
  color: inherit; /* Inherit the text color from the parent */
  display: flex;
  align-items: center;
}

li a span {
  margin-left: 10px;
}

button {
  /* Style your button */
}

.navLink {
  color: #8997B5;
  font-size: 20px;
}