.sideNavbar {
  position: absolute;
}

@keyframes fallAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.badge {
  background-color: #ff0000;
  color: #ffffff;
  padding: 5px;
  border-radius: 10px;
  font-size: 0.75em;
  z-index: 10;
}

.navItem {
  position: relative;
  transition: transform 10.3s ease;
}

.navLabel {
  transition: transform 1.3s ease;
}

.additionalButton {
  animation: fallAnimation 0.5s ease-out forwards;
  transition: transform 1.3s ease;
}

.isDesabled {
  opacity: 0.5;
  pointer-events: none;
  color: #ccc;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  color: white;
}

li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

li a span {
  margin-left: 10px;
}

button {
}

.navLink {
  color: #8997b5;
  font-size: 20px;
}
