.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  width: 700px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  margin-left: 24%;
}

.ideaInfo {
  width: 100%;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

.title {
  color: #333;
  margin: 10px 0;
  font-size: 24px;
}

.description,
.likesDislikes {
  color: #666;
  margin: 10px 0;
  font-size: 16px;
}

.img {
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.deleteButton {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: #a71d2a;
}
