@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

.navContainer {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: larger;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 0;
}

.navContainer li {
  display: inline-block;
  list-style: none;
  margin: 0 1.5em;
}

.navContainer .link {
  color: #fff;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 0.3em 0;
  transition: color 0.3s;
}

.navContainer .link:hover,
.navContainer .link:focus {
  color: #00adee;
}

.logout {
  display: none;
}

@media screen and (max-width: 1024px) {
  .navContainer li {
    display: block;
    text-align: left;
    margin: 0;
  }

  .navContainer .link {
    display: block;
    padding: 10px;
  }

  .logout {
    display: block;
    margin-left: 0;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .navContainer {
    font-size: medium;
  }

  .navContainer li {
    padding: 5px 0;
  }

  .navContainer .link {
    padding: 8px 15px;
  }

  .logout {
    margin-top: 0;
  }
}

@media screen and (min-width: 1280px) {
  .logout {
    display: block;
    margin-left: auto;
    margin-right: 20px;
  }
}

.logo1 {
  transition: filter 300ms;
  width: 70px;
  height: 40px;
}

.loginContainer {
  margin: 0;
  height: 55px;
}
